* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Variables en root*/ 
:root {
    --color-fuente: white;
    --color-principal: rgb(228, 177, 123);
    --color-transparente: rgba(206, 63, 63, 0.8);
    --colorclaro: rgb(243, 207, 96);
    --color-borde: black;
    --color-footer:rgb(255, 239, 195);
}

.contenedor{
    width: 90%;
    margin: auto;
    max-width: 1000px;
    overflow: hidden;
}

/*Estilos en el header*/
header {
    width: 100%;
    background-color: var(--color-principal);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

header .contenedor{
    position: relative;
    height: 500px;
}

header .menu{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid var(--color-fuente);
}

/*Estilos a los elementos del header*/
header .menu a{
    text-decoration: none;
    display: inline-block;
    color:var(--color-fuente);
    font-size: 26px;
    font-weight: 300;
    margin: 40px 40px;
    position: relative;
}

header .menu a:hover{
    text-decoration: underline;
}

header .titulo{
    width: 100%;
    color: var(--color-fuente);
    position: absolute;
    top: 50%;
    margin-top: -7%;
    padding-left: 40%;
}

header .titulo .nombre{
    font-size: 60px;
    font-weight: 600;
}

header .titulo .nombre span{
    font-weight: 200;
}

header .titulo img{
    width: 23%;
    position: absolute;
    margin-left: -23%;
    margin-top: -9%;
}

header .titulo h2{
    font-weight: 200;
    font-size: 25px;
}

/*Fin de estilos del header*/

/*Comienzo de la presentacion de la pagina*/

.principal .historia{
    overflow: visible;
    position: relative;
}

.principal .historia .foto{
    width: 53%;
    position: absolute;
    left: 17%;
    margin-top: -4%;
    z-index: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.35);
    vertical-align: top;
    border-radius: 10px;
}

.principal .historia article{
    background-color: var(--color-fuente);
    padding: 20px;
    width: 50%;
    margin-top: 30%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,.35);
    float: right;
    border-radius: 10px;
    border: 3px solid var(--color-principal);
}

.principal .historia article h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.principal .historia article p{
    line-height: 28px;
    margin-bottom: 15px;
}

.principal .menu{
    padding-bottom: 650px;
    margin-bottom: 60px;
}

.contenedor1{
    text-align: center;
    margin-top: 6%;
    overflow: hidden;
}

.contenedor1 .texto{
    position: relative;
    color: var(--color-principal);
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1px;
}

.contenedor1 .texto.primer-texto{
    color: var(--color-borde);
}

.texto.segundo-texto:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fuente);
    border-left: 2px solid var(--color-borde);
    animation: animate 4s steps(12) infinite;
}

.texto.segundo-texto{
    margin-left: 5px;
}


@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.principal .menu .contenedor{
    width: 70%;
    border: 5px solid var(--color-borde);
    background-color: var(--color-principal);
    padding: 15px;
    overflow: hidden;
    margin-top: 7%;
    margin-bottom: -40%;
}

.principal .menu .contenedor .contenedor-muestra .contenedor-muestra2 img{
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid;
    overflow: hidden;
    display: inline-block;
}

/*Aqui terminan los estilos del contenido principal*/

/*Aqui comienzan los estilos del footer*/
footer{
    background-color: var(--color-footer);
    width: 100%;
    height: 300px;
    text-align: left;
    padding: 55px 50px;
}

footer .izq-footer .centro-footer .der-footer{
    display: inline-block;
    vertical-align: top;
}

/*Aqui comienzan los estilos en la parte izquierda*/
footer .izq-footer{
    width: 30%;
    font-size: 20px;
    margin-top: -2%;
}

footer .izq-footer img{
    width: 10%;
    margin-left: 7%;
    padding-top: 18px;
}

footer .izq-footer p{
    margin-left: 25%;
    margin-top: -10%;
}

footer .izq-footer .locacion{
    margin-bottom: 10%;
}

footer .izq-footer .telefono{
    margin-bottom: 10%;
}

footer .izq-footer .locacion, .telefono{
    margin-top: 10%;
}

/*Fin de estilos en la parte izquiera del footer*/

/*Comienzos de estilos en la parte central del footer*/

footer .centro-footer{
    width: 40%;
    margin-left: 45%;
    margin-top: -12%;
}

footer .centro-footer img{
    width: 45%;
    margin-left: -6%;
}

footer .centro-footer p{
    margin-left: -20%;
    font-size: 35px;
    margin-top: -45%;
    margin-bottom: 2%;
}

/*Fin de estilos en la parte central del footer*/

/*Comienzo de estilos en la parte derecha del footer*/
footer .der-footer .reloj{
    width: 10%;
    margin-left: -17%;
    margin-top: 20%;
}

footer .der-footer .horarios{
    margin-left: 80%;
    margin-top: -42%;
}